<a
  class="btn btn-primary btn-lg position-fixed z-top bottom-0 end-0 m-5 rounded-circle"
  type="button"
  href="/dashboard/new-post"
>+</a>
<h2 class="m-5 user-select-none">Your Posts</h2>
{{#each posts as |post|}}
{{> post-detail}}
{{/each}}