<div class="row justify-content-center">
  <h2 class="col-8 mt-5 user-select-none">Create New Post</h2>
  <div class="col-8 mt-5">
    <form class="post-form">
      <input
        type="text"
        class="form-control mb-3"
        id="post-title"
        placeholder="Post Title"
      />
      <textarea
        class="form-control mb-3"
        id="post-content"
        rows="7"
        placeholder="Input your post content here."
      ></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<script src="/js/new-post.js"></script>